@font-face {
  font-family: "tweet";
  src: url(../font/mont-regular.ttf);
}
.main {
  display: flex;
  justify-content: space-between;  
  color: white;
  height: 100vh;
  font-family: "tweet";
  
}
.leftSide{
  padding-left: 3%;
  padding-top: 2%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;

}
.centerSide {

  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
  border-right :1px solid #2D353E;
  border-left : 1px solid #2D353E;
  width: 45%;
}
.rightSide {
  padding-left: 3%;
  padding-top: 2%;
  width: 30%;
}
.logo {
  background-image: url(../public/logoTw.png);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.loginGroup {
  display:flex;
  flex-direction: column;
  margin-bottom: 50px;

}
.subgroup {
  display:flex;
}
.names {
  margin-left: 10px;
}
.username {
  color:lightgrey;
}
.logout{
  margin-top :30px;
  background-color: #0C1315;
  color:white;
  border-radius: 20px;
  padding:5px;
  width: 100px; 
  border: 1px solid white ;
  cursor: pointer;
}
.logout:hover{
  background-color: black ;
}

.postTweet {
  margin-top : 20px;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  
}
.whats {
  background-color:#0C1315 ;
  border: 1px solid black;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid white; 
  width: 100%;
 
}
.whats::placeholder {
  color:white;
  opacity:0.7;
  
}
.whats:focus {
  color:white;
  border: none;

}
.whats:focus-visible {
  color:white;
  border:none;
}
.count{
  font-size: 12px;;
  text-align: right;
  margin-right : auto;

}
.tweetBtn {
  margin-top: 8px;
  width: 100px;
  border-radius: 25px;
  padding : 3px;
  margin-left: 10px;
  background-color: #2F87E8;
  color: white;
  font-size: 12px;
  font-weight: 900;
  transition: all 0.2s ease-in-out;

}
.tweetBtn:hover {
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}